[user]
    name = Jamie Kai Remkes
    email = j.remkes.jr@gmail.com

[includeIf "gitdir:~/Code/Maniacs"]
    path = ~/.gitconfig-maniacs

[includeIf "gitdir:~/Code/Wartsila"]
    path = ~/.gitconfig-wartsila

[core]
	editor = code --wait

[push]
	autoSetupRemote = true
