# Login to kabouterdorp npm registry
@jkr:registry=https://registry.kabouterdorp.cloud/
//registry.kabouterdorp.cloud/:_authToken=${KABOUTERDORP_PAT}

# Login to maniacs npm registry
@maniacs-company:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_PAT}

# Login to wartsila npm registry
@wartsila:registry=https://artifactory.devops.wartsila.com/artifactory/api/npm/im-npm/
//artifactory.devops.wartsila.com/artifactory/api/npm/im-npm/:_authToken=${WARTSILA_ARTIFACTORY_IDENTITY_TOKEN}
//artifactory.devops.wartsila.com/artifactory/api/npm/im-npm/:auth-type=legacy

# Default NPM registry
registry=${DEFAULT_NPM_REGISTRY}