# Login to Personal npm registry
@jamiekairemkes:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_PAT}

# Login to JKR npm registry
@jkr-digital:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_PAT}

# Login to Wartsila npm registry
@wartsila:registry=https://artifactory.devops.wartsila.com/artifactory/api/npm/im-npm/
//artifactory.devops.wartsila.com/artifactory/api/npm/im-npm/:_authToken=${WARTSILA_ARTIFACTORY_IDENTITY_TOKEN}
//artifactory.devops.wartsila.com/artifactory/api/npm/im-npm/:auth-type=legacy

# Default NPM registry
- [[ -z "${DEFAULT_NPM_REGISTRY}" ]] && registry='https://registry.npmjs.org/' || registry=${DEFAULT_NPM_REGISTRY}
