# Login to maniacs npm registry
@maniacs-company:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_PAT}

# Login to kabouterdorp npm registry
@jkr:registry=https://registry.kabouterdorp.cloud/
//registry.kabouterdorp.cloud/:_authToken=${KABOUTERDORP_PAT}
